@{
    ViewData["Title"] = "CONTACT";
}
<h1>@ViewData["Title"]</h1>
<div class="contact-info">
    <p>Emekyemez Mah. Yolcuzade İskender Cad. Karagül Business Center No:2-57 Beyoğlu/Istanbul</p>
    <p>Office: Zafer Mah. Maintenance Repair 10th St. No:22 Çorlu/TEKİRDAĞ</p>
    <p>Phone: +90 850 305 37 44</p>
    <p>Whatsapp Support Line: +90 531 717 99 52</p>
    <p>Email: destek@renklimetal.com</p>
</div>
