@model cse355.Models.Order_OrderedProduct

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order_OrderedProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderedProductID" class="control-label"></label>
                <input asp-for="OrderedProductID" class="form-control" />
                <span asp-validation-for="OrderedProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderedProduct" class="control-label"></label>
                <input asp-for="OrderedProduct" class="form-control" />
                <span asp-validation-for="OrderedProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
